/*COLORS
#121210 Rangoon Green
#A6A7A3 Delta
#7c847c Xanadu
#7c7c7c Boulder 
*/

@font-face {
    font-family: "LB";
    src: url("./fonts/LibreBaskerville-Bold.ttf") format("truetype"),
         url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}
/* BODY */
body{
    width:100%;
    overflow-x: hidden;
    color:#121210;
    font-family: "OpenSans";
    background-color: rgb(245, 245, 245);
}
body a{
    color:#7c7c7c;
}
.container-fluid{
    padding:0px;
}
h2{
    font-size: 29px;
    font-weight: bold;
}
/* HEADER */
.header {
    width: 100%;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.4);
}
.navbar a, .navbar a:visited, .navbar a:hover{
    color: white;
}
.navbar .nav-item::after{
    content: "";
    height: 1px;
    display: block;
    width: 100%;
    border-bottom: solid 2px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.navbar .nav-item:hover::after{
    transform: scaleX(1);
}
.logoNavbar{
    width: 80px;
    height: 80px;
}
/* HOME */
@keyframes title-appears{
    0% {
        transform: translate(300%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
.homeMainImage{
    height:100vh;
    object-fit: cover;
    width:100%;
}
.homeMainImageFigure{
    margin-bottom: 0;
}
.homeMainImageFigure figcaption{
    font-family: "LB";
    width:900px;
    color:white;
    position: absolute;
    top: 50%; left: 50%;
    animation: title-appears 1500ms forwards;
}
.homeMainImageFigure figcaption div{
    text-align: center;
    font-size: 32px;
}
.homeMainImageFigure figcaption button{
    background-color: #7c847c;
    margin: 10px auto;
    transition: all .2s ease-in-out;
}
.homeMainImageFigure figcaption button:hover{
    transform: scale(1.1);
}
.homeMainImageFigure figcaption button a, .homeMainImageFigure figcaption button a:hover{
    color:white;
    font-size:11px;
    text-decoration: none;
}
.homeMainImageFigure figcaption h1::after{
    content:"";
    width:200px;
    height: 2px;
    display: block;
    background-color: #7c847c;
    margin: 10px auto;
}
.homeMainImageFigure figcaption h1{
    display: block;
    font-size:40px;
    font-weight: bold;
}
.welcomeTitle{
    font-size: 40px;
    font-weight: bold;
}
.homeJumbo{
    /*background-color: #d4d4d4;*/
    background-color: #121210;
    padding: 40px 0px;
}
.homeJumbo p{
    font-weight: bold;
    color:#6e6e6e;
    width: 80%;
    margin: auto;
}
.homeJumbo div{
    color:white;
}
.homeImage{
    width:100%;
    object-fit: cover;
}
.homeNews img{
    width: 100%;
    object-fit: cover;
}
.homeNews figcaption{
    font-size:14px;
}
.homeNews button, .homeContacts button{
    background-color: #7c847c;
    transition: all .2s ease-in-out;
    font-family: "LB";
    font-size: 12px;
    padding: 10px 15px;
}
.homeNews button:hover, .homeContacts button:hover{
    transform: scale(1.1);
}
.homeNews button a, .homeNews button a:hover, .homeContacts button a, .homeContacts button a:hover{
    color:white;
    text-decoration: none;
}
.thumbNews{
    border: 1px solid #6e6e6e;
    border-radius: 4px;
    padding:0px 0px 5px 0px;
    font-size:12px;
}
/* NEWS */
.bodyNews img{
    width: 100%;
    object-fit: cover;
}
.bodyNews figcaption{
    font-size:14px;
}
/* FOOTER */
footer{
    font-family: "LB";
    text-align: center;
    background-color: #121210;
    height: 300px;
    padding: 50px 40px;
    color:#7C7C7C;
}
.footerContactImg{
    width:20px;
    height: 20px;
}
.footerTitleCol{
    font-size: 20px;
    color:#A6A7A3;
}
/* PAGES */
.pagesMainImage{
    height:50vh;
    object-fit: cover;
    width:100%;
    -webkit-filter : brightness(20%); /* Chrome, Safari, Opera */
    filter : brightness(20%);
}
.pagesMainImageFigure figcaption{
    font-family: "LB";
    color:white;
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, -50%);
}
.pagesMainImageFigure figcaption h1{
    display: block;
    font-size:50px;
    font-weight: bold;
}
/* RESPONSIVE */
@media (max-width: 991px){
    .homeMainImage{
        height:30vh;
    }
    .homeMainImageFigure figcaption{
        font-family: "LB";
        width:900px;
        color:white;
        top: 18%;
    }
    .homeFirstImage{
        display: none;
    }
}